.carousel {
  max-width: 600px;
  margin: auto;
}
.carousel-inner {
  text-align: center;
}
.carousel-item img {
  width: 100%;
}
.carousel-control-prev {
  left: -20px;
}
.carousel-control-next {
  right: -20px;
}
.carousel-control-next-icon {
  background-image: url(../img/right-arrow.svg);
}
.carousel-control-prev-icon {
  background-image: url(../img/left-arrow.svg);
}
